/* dxb-slider.css */

.dxb-slider-container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 100%;
    margin-bottom: 20px;
}

.dxb-slider-wrapper {
    display: flex;
    align-items: center;
    width: 100%;
}

.dxb-slider-track {
    flex: 1;
    display: flex;
    align-items: center;
}

.dxb-slider {
    -webkit-appearance: none;
    appearance: none;
    width: 100%;
    background: transparent;
    outline: none;
}

.dxb-slider::-webkit-slider-runnable-track {
    background-image: linear-gradient(#2D46BD, #2D46BD), linear-gradient(rgba(0, 11, 51, 0.13), rgba(0, 11, 51, 0.13));
    background-size: var(--value-percent) 7px, 100% 7px;
    background-repeat: no-repeat;
    background-position: left center;
}

.dxb-slider::-moz-range-track {
    background-image: linear-gradient(#2D46BD, #2D46BD), linear-gradient(rgba(0, 11, 51, 0.13), rgba(0, 11, 51, 0.13));
    background-size: var(--value-percent) 7px, 100% 7px;
    background-repeat: no-repeat;
    background-position: left center;
}

.dxb-slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 32px;
    height: 32px;
    background: white;
    cursor: pointer;
    border: none;
    outline: none;
    box-sizing: border-box;
    box-shadow: 0 2px 5px 0 rgba(103, 110, 118, 0.08), 0 0 0 1px rgba(177, 177, 178, 0.60), 0 1px 1px 0 rgba(0, 0, 0, 0.12);
    border-radius: 0;
    transition: background 0.3s, transform 0.3s;
}

.dxb-slider::-moz-range-thumb {
    width: 32px;
    height: 32px;
    background: white;
    cursor: pointer;
    border: none;
    outline: none;
    box-sizing: border-box;
    box-shadow: 0 2px 5px 0 rgba(103, 110, 118, 0.08), 0 0 0 1px rgba(177, 177, 178, 0.60), 0 1px 1px 0 rgba(0, 0, 0, 0.12);
    border-radius: 0;
    transition: background 0.3s, transform 0.3s;
}

.dxb-slider::-webkit-slider-thumb:hover {
    border: 2px solid #515252;
    box-shadow: 0 2px 5px 0 rgba(103, 110, 118, 0.08), 0 0 0 1px rgba(177, 177, 178, 0.60), 0 1px 1px 0 rgba(0, 0, 0, 0.12);
}

.dxb-slider::-moz-range-thumb:hover {
    border: 2px solid #515252;
    box-shadow: 0 2px 5px 0 rgba(103, 110, 118, 0.08), 0 0 0 1px rgba(177, 177, 178, 0.60), 0 1px 1px 0 rgba(0, 0, 0, 0.12);
}

.dxb-slider:focus::-webkit-slider-thumb {
    border: 3px solid #314DD0;
    box-shadow: 0 0 0 3px rgba(0, 0, 0, 0.24), 0 2px 5px 0 rgba(103, 110, 118, 0.08), 0 1px 1px 0 rgba(0, 0, 0, 0.12);
}

.dxb-slider:focus::-moz-range-thumb {
    border: 3px solid #314DD0;
    box-shadow: 0 0 0 3px rgba(0, 0, 0, 0.24), 0 2px 5px 0 rgba(103, 110, 118, 0.08), 0 1px 1px 0 rgba(0, 0, 0, 0.12);
}

.dxb-slider:active::-webkit-slider-thumb {
    border: 2px solid #314DD0;
    box-shadow: 0 2px 5px 0 rgba(103, 110, 118, 0.08), 0 1px 1px 0 rgba(0, 0, 0, 0.12);
}

.dxb-slider:active::-moz-range-thumb {
    border: 3px solid #314DD0;
    box-shadow: 0 0 0 3px rgba(0, 0, 0, 0.24), 0 2px 5px 0 rgba(103, 110, 118, 0.08), 0 1px 1px 0 rgba(0, 0, 0, 0.12);
}

.dxb-slider-value {
    width: 60px;
    text-align: center;
    margin-inline-start: 12px;
    border: 1px solid #949494;
    border-radius: 0;
    height: 42px;
    padding: 4px;
    font-size: 16px;
    box-shadow: 0 1px 2px 0 rgba(16, 24, 40, 0.05);
    box-sizing: border-box;
}

.dxb-slider-value:hover {
    border: 2px solid #6B6C6C;
}

.dxb-slider-value:focus,
.dxb-slider-value:focus-visible,
.dxb-slider-value:focus-within {
    border: 3px solid #314DD0;
    border-radius: 0;
    box-shadow: 0 0 0 4px rgba(0, 0, 0, 0.16), 0 1px 2px 0 rgba(16, 24, 40, 0.05);
    outline: none;
}

/* RTL Support */
[dir="rtl"] .dxb-slider-wrapper {
    flex-direction: row-reverse;
}

[dir="rtl"] .dxb-slider {
    direction: rtl;
}

[dir="rtl"] .dxb-slider::-webkit-slider-runnable-track {
    background-position: right center;
}

[dir="rtl"] .dxb-slider::-moz-range-track {
    background-position: right center;
}

[dir="rtl"] .dxb-slider-value {
    margin-inline-start: 10px;
    margin-inline-end: 0;
    order: -1; /* This will move the number input to the left side in RTL mode */
}

[lang="ar"] .dxb-slider-value {
    font-variant-numeric: arabic-indic;
}

[lang="fa"] .dxb-slider-value {
    font-variant-numeric: persian;
}

[lang="bn"] .dxb-slider-value {
    font-variant-numeric: bengali;
}

[lang="hi"], [lang="mr"], [lang="ne"] .dxb-slider-value {
    font-variant-numeric: devanagari;
}
